/**************************************************************************************************\
*
* vim: ts=3 sw=3 et wrap co=100 go -=b
*
* Filename: "style.css"
*
* Project: Risk Battle Calculator
*
* Purpose: Styles
*
* Author: Tom McDonnell 2011-07-24.
*
\**************************************************************************************************/

*
{
   padding: 0;
   margin: 0;
}

div.riskBattleCalculator
{
   border: 1px solid #000;
   width: 300px;
}

h1
{
   text-align: center;
}

table
{
   margin-bottom: 10px;
   text-align: left;
}

td, th
{
   width: 33%;
}

td
{
   text-align: right;
}

th
{
   text-align: left;
}

input, select
{
   width: 100%;
}

input
{
   height: 40px;
   vertical-align: top;
}

ol
{
   margin-left: 37px;
}

li
{
   margin-top: 10px;
}

div.battleSummary
{
   height: 80px;
}

div.battleLog
{
   height: 300px;
   overflow: auto;
}

/*******************************************END*OF*FILE********************************************/
